.App {
  margin: auto;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  background-color:  rgba(0, 0, 0, 0.767);
  
}
.Time-unit{

  text-align: center;
  margin-left: 10px;
  
}
.Time{
  font-size: 65px;
  font: bold;
  color: aliceblue;
}
.Time-unit span{

  padding:15px;
  font-size: 18px;
  color: rgb(212, 40, 40);
  font-weight: bold;
  
}
.btn{

font-size:30px;
margin: 20px;



}